<p style="text-align: left;height: 450px;overflow-y:scroll !important;">
  <a href="https://akshayblevel.github.io/Angular">Home</a> <br/><br/>
  
  <a href="https://akshayblevel.github.io/Angular/NewComponent">1. Create New Component</a><br/>
  <a href="https://akshayblevel.github.io/Angular/ComponentToHtml">2. Component To HTML</a><br/>
  <a href="https://akshayblevel.github.io/Angular/Input">3. @Input</a><br/>
  <a href="https://akshayblevel.github.io/Angular/ButtonClick">4. Button Click Event</a><br/>
  <a href="https://akshayblevel.github.io/Angular/Output">5. @Output</a><br/>
  <a href="https://akshayblevel.github.io/Angular/TemplateVariable">6. Template Variable</a><br/>
  <a href="https://akshayblevel.github.io/Angular/ngFor">7. *ngFor</a><br/>
  <a href="https://akshayblevel.github.io/Angular/SafeNavigationOperator">8. Safe Navigation Operator</a><br/>
  <a href="https://akshayblevel.github.io/Angular/ngIf">9. *ngIf</a><br/>
  <a href="https://akshayblevel.github.io/Angular/HiddenProperty">10. Hidden Property</a><br/>
  <a href="https://akshayblevel.github.io/Angular/ngSwitch">11. *ngSwitch</a><br/>
  <a href="https://akshayblevel.github.io/Angular/Service">12. Service</a><br/>
  <a href="https://akshayblevel.github.io/Angular/Routing">13. Routing</a><br/>
  <a href="https://akshayblevel.github.io/Angular/RoutingWithParam">14. Routing with Parameter</a><br/>
  <a href="https://akshayblevel.github.io/Angular/RouterLink">15. Router Link</a><br/>
  <a href="https://akshayblevel.github.io/Angular/Module">16. Module</a><br/>
  <a href="https://akshayblevel.github.io/Angular/LazyLoading">17. Lazy Loaded Module</a><br/>
</p>
