<p style="text-align: left;">
  <a href="https://akshayblevel.github.io/Angular">Home</a> 
  <hr/>
  <a href="https://akshayblevel.github.io/Angular/NewComponent">Create New Component</a><br/>
  <a href="https://akshayblevel.github.io/Angular/ComponentToHtml">Component To HTML</a><br/>
  <a href="https://akshayblevel.github.io/Angular/Input">@Input</a><br/>
  <a href="https://akshayblevel.github.io/Angular/ButtonClick">Button Click Event</a><br/>
  <a href="https://akshayblevel.github.io/Angular/Output">@Output</a><br/>
  <a href="https://akshayblevel.github.io/Angular/TemplateVariable">Template Variable</a><br/>
  <a href="https://akshayblevel.github.io/Angular/ngFor">*ngFor</a><br/>
  <a href="https://akshayblevel.github.io/Angular/SafeNavigationOperator">Safe Navigation Operator</a><br/>
  <a href="https://akshayblevel.github.io/Angular/ngIf">*ngIf</a><br/>
  <a href="https://akshayblevel.github.io/Angular/HiddenProperty">Hidden Property</a><br/>
  <a href="https://akshayblevel.github.io/Angular/ngSwitch">*ngSwitch</a><br/>
  <a href="https://akshayblevel.github.io/Angular/Service">Service</a><br/>
  <a href="https://akshayblevel.github.io/Angular/Routing">Routing</a><br/>
  <a href="https://akshayblevel.github.io/Angular/RoutingWithParam">Routing with Parameter</a><br/>
</p>
